@model MediaCollectionMVC.Models.ScannedMedium

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScannedMedium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishedDate, "{0:dd/MM/yyyy}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAudioBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAudioBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaperBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaperBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPdfbook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPdfbook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDonated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDonated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OktoDonate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OktoDonate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MediaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
