@model ScannedMediumViewModel
@{
    int MaxPageButtons = 25;
    int HalfPageButtons = MaxPageButtons / 2; // Division of integers is rounded down.
    string pageSortField = Model.MediaSort.LastSort;
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<!-- Added for pagination -->
<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index", new { pageIndex = 1, sortField=pageSortField })">First</a>
        </li>
        <li class="page-item @(Model.Pagination.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageIndex = Model.Pagination.CurrentPage - 1, sortField=pageSortField })">Previous</a>
        </li>
        @if (Model.Pagination.TotalPages >= MaxPageButtons)  // You need to deal with the else case.
        {
            switch (Model.Pagination.CurrentPage)
            {
                case int j when j < HalfPageButtons:
                    for (int i = 1; i <= MaxPageButtons; i++)
                    {
                        <li class="page-item @(i == Model.Pagination.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { pageIndex = i, sortField=pageSortField })">@i</a>
                        </li>
                    }
                    break;

                case int j when j >= HalfPageButtons && j + MaxPageButtons <= Model.Pagination.TotalPages:
                        for (int i = Model.Pagination.CurrentPage - HalfPageButtons + 1; i < Model.Pagination.CurrentPage + HalfPageButtons + 1; i++)
                        {
                            <li class="page-item @(i == Model.Pagination.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { pageIndex = i, sortField=pageSortField })">@i</a>
                            </li>
                        }
                    break;

                case int j when j > Model.Pagination.TotalPages - MaxPageButtons:
                        for (int i = Model.Pagination.TotalPages - MaxPageButtons; i <= Model.Pagination.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.Pagination.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { pageIndex = i, sortField=pageSortField })">@i</a>
                            </li>
                        }
                    break;
                default: 
                    break;
            }

        }
        <li class="page-item @(Model.Pagination.CurrentPage == Model.Pagination.TotalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageIndex = Model.Pagination.CurrentPage + 1, sortField=pageSortField })">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index", new { pageIndex = Model.Pagination.TotalPages, sortField=pageSortField })">Last</a>
        </li>
    </ul>
</nav>




<table class="table">
    <thead>
        <tr>
            <th>
                <a href="/Media/Index?sortField=@Model.MediaSort.TitleSortOrder">@Html.DisplayNameFor(model => model.ScannedMediaObjects[0].Title)</a>
            </th>
            <th>
                <a href="/Media/Index?sortField=@Model.MediaSort.AuthorSortOrder">@Html.DisplayNameFor(model => model.ScannedMediaObjects[0].Authors)</a>
            </th>
            <th>
                <a href="/Media/Index?sortField=@Model.MediaSort.CategorySortOrder">@Html.DisplayNameFor(model => model.ScannedMediaObjects[0].Categories)</a>
            </th>
            <th>
                <a href="/Media/Index?sortField=@Model.MediaSort.PublishedDateSortOrder">@Html.DisplayNameFor(model => model.ScannedMediaObjects[0].PublishedDate)</a>
            </th>
            <th>
                <a href="/Media/Index?sortField=@Model.MediaSort.PublisherSortOrder">@Html.DisplayNameFor(model => model.ScannedMediaObjects[0].Publisher)</a>
            </th>
            <th>
                <a href="/Media/Index?sortField=@Model.MediaSort.PagesSortOrder">@Html.DisplayNameFor(model => model.ScannedMediaObjects[0].Pages)</a>
            </th>
            <th>
                <a href="/Media/Index?sortField=@Model.MediaSort.ISBNSortOrder">@Html.DisplayNameFor(model => model.ScannedMediaObjects[0].Isbn)</a>
            </th>
            <th>
                <a href="/Media/Index?sortField=@Model.MediaSort.IsReadSortOrder">@Html.DisplayNameFor(model => model.ScannedMediaObjects[0].IsRead)</a>
            </th>
          </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ScannedMediaObjects) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td style="width: 15%">
                    <a href="/Media/Edit?id=@item.MediaId">Edit</a> |
                    <a href="/Media/Details?id=@item.MediaId">Details</a> |
                    <a href="/Media/Delete?id=@item.MediaId">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>
